<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="bos"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>bos.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>bos.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="orm"
                         class="ch.qos.logback.core.rolling.RollingFileAppender">

    <file>orm.log</file>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>orm.log.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
</appender>
    <appender name="std"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>std.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>std.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="cn.itcast.bos" level="DEBUG" additivity="false">
        <appender-ref ref="bos"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="cn.itcast.bos.dao" level="DEBUG" additivity="false">
        <appender-ref ref="orm"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="std" level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="std" />
    </logger>
</configuration>