<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.bos.dao.business.AssessmentContentDao">
    <resultMap id="ContentResultMap" type="cn.itcast.bos.domain.business.AssessmentContent">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="khxm" property="projectName" jdbcType="VARCHAR"/>
        <result column="xmlx" property="type" jdbcType="VARCHAR"/>
        <result column="totalscore" property="totalScore"/>
        <result column="year" property="year" />
        <collection property="assessmentStdList" ofType="cn.itcast.bos.domain.business.AssessmentStd">
            <id column="stdid" property="id"/>
            <result column="khpfx" property="item"/>
            <result column="score" property="score"/>
            <result column="shuoming" property="remark"/>
        </collection>
    </resultMap>

    <resultMap id="StdResultMap" type="cn.itcast.bos.domain.business.AssessmentStd">
        <id column="id" property="id"/>
        <result column="khpfx" property="item"/>
        <result column="score" property="score"/>
        <result column="shuoming" property="remark"/>
        <result column="year" property="year" />
    </resultMap>

    <sql id="Base_Column_List">
        id, khxm, xmlx, totalscore, year
    </sql>

    <insert id="insert" parameterType="cn.itcast.bos.domain.business.AssessmentContent">
        insert into wmb_khxm (<include refid="Base_Column_List"/>)
        values (#{id}, #{projectName}, #{type}, #{totalScore}, #{year} )
    </insert>

    <update id="update" parameterType="cn.itcast.bos.domain.business.AssessmentContent">
        UPDATE wmb_khxm
        SET khxm = #{projectName}, xmlx = #{type}, totalscore = #{totalScore}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="cn.itcast.bos.domain.business.AssessmentContent">
        DELETE FROM wmb_khxm
        WHERE id = #{id}
    </delete>

    <select id="findById" resultMap="ContentResultMap">
        select
        <include refid="Base_Column_List"/>
        from wmb_khxm xm where id = #{id}
    </select>

    <select id="findAll" resultMap="ContentResultMap" parameterType="cn.itcast.bos.domain.business.AssessmentContent">
        select
        wmb_khxm.id as id, khxm, xmlx, totalscore, wmb_khxm.year as year, xzb.id as stdid, xzb.score, xzb.khpfx, xzb.shuoming
        from wmb_khxm join wmb_khxzb xzb on xzb.khxmid = wmb_khxm.id
        where wmb_khxm.year = #{year}
        <if test="projectName != null and projectName != ''">
            and khxm = #{projectName}
        </if>
        <if test="type != null and type != ''">
            and xmlx = #{type}
        </if>
        order by xmlx
    </select>

    <select id="count" resultType="int" parameterType="cn.itcast.bos.domain.business.AssessmentContent">
        select
        count(*)
        from wmb_khxm where year = #{year}
        <if test="projectName != null and projectName != ''">
            and khxm = #{projectName}
        </if>
        <if test="type != null and type != ''">
            and xmlx = #{type}
        </if>
    </select>

    <select id="findStdByContentId" resultMap="StdResultMap">
        SELECT *
        FROM wmb_khxzb
        WHERE khxmid = #{contentId}
    </select>
</mapper>