<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.bos.dao.business.SubmitContentDao">
    <resultMap id="ContentResultMap" type="cn.itcast.bos.domain.business.SubmitContent">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result property="content" column="content" />
        <result property="unitId" column="dwid" />
        <association property="project" resultMap="ProjectMap"/>
     </resultMap>
    <resultMap id="ProjectMap" type="cn.itcast.bos.domain.business.AssessmentContent">
        <id column="projectId" property="id"/>
        <result column="khxm" property="projectName"/>
        <result column="xmlx" property="type" />
    </resultMap>

    <select id="findByUnitId" resultMap="ContentResultMap">
        select sb.id, dwid,content , khxmid as projectId, xm.khxm, xm.xmlx
        from wmb_sbnr sb join wmb_khxm xm on xm.id = sb.khxmid where sb.dwid=#{unitId}
    </select>
    <insert id="insert" parameterType="cn.itcast.bos.domain.business.SubmitContent">
        insert into wmb_sbnr (id, khxmid, dwid, content) VALUE (#{id}, #{project.id}, #{unitId}, #{content})
    </insert>

    <select id="findById" resultMap="ContentResultMap">
        select id, dwid, content, khxmid as projectId from wmb_sbnr where id = #{id}
    </select>
</mapper>